* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

/*header*/
nav{
    background: #887E6D;
    height: 80px;
    width: 100%;
}


label.logo{
    line-height: 80px;
    padding: 0 28px;
    color: #efece7;
    font-size: 20px;
}

nav ul{
    z-index:1000;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #efece7; 
    font-size: 20px;
    text-transform: uppercase;
}

a.act,a:hover{
    color: #000000;
}

.checkbtn{
    font-size: 30px;
    color: #efece7;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*forside*/

.container {
    position: relative;
    width: 100%;

}

.container img{
    width: 100%;
    
}

.desk-img {
    display: none;
    
}

.container .btn-1{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B3A895;
    color: #efece7;
    font-size: 16px;
    padding: 10px 75px; 
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
    border-color: #655f5f3e;

}

.container .btn-2{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #887E6D;
    color: #efece7;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 90px; 
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
    border-color: #655f5f3e;

}

.container .btn-3{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #887E6D;
    color: #efece7;
    font-size: 16px;
    padding: 10px 74px; 
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
    border-color: #655f5f3e;

}

.btn-1:hover {
    background-color: #D09481;
}

.btn-2:hover {
    background-color: #a06a5a;
}

.btn-3:hover {
    background-color: #a06a5a;
}


.container a:link {
    color: #efece7;
    background-color: transparent;
    text-decoration: none;
      }
      
.container a:visited {
    color: #efece7;
    text-decoration: none;
      }
      
.container a:hover {
    color: #efece7;
    background-color: #D09481;
    }


/*portfolio*/

.portfolio {
    background-image: url(background.jpg);
    background-size: 280%;
}

.video {
    width: 100% ;
    margin: 0 auto;
    display: block;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #27241E;
    font-family: 'Quicksand', sans-serif;
    text-decoration-line: overline;
    padding-top: 50px;
}

.portfolio h2 {
    padding-top: 50px;
    margin-left: 20px;
}





.dage label {
    display: flex; 
    padding: 10px ;
    margin: -10px 20px 50px 20px;
    background: #27241E;
    border-radius: 10px;
    color: #efece7;
    font-size: 20px;
    text-align: center;
    
}

.dage input {
    display: none;
}

.mars {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top:50px;
    max-width: 90%;
    }
    


.content {
    background: #efece7;
    padding: 25px;
    border: none;
    margin: -50px 20px 20px 20px;
    border-radius: 10px; }


input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
   

}

/*/Om side/*/ 

.om {
    background-image: url(background.jpg);
    background-size: 280% ;
    
}

.muksi {

    margin: 0 auto;
    display: block;
    padding: 20px;
    position: relative;
    margin-top: 55px;
    border-radius: 100%;
    border: 4px solid #887E6D;
}

.transbox {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
   
    background-color: #887E6D;
    border: 1px solid #887E6D;
    opacity: 0.7;
  }

.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text p {
    max-width: 300px;
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h2 {
    align-items: flex-start;
}

/*/Kontakt side/*/

.kontakt {
    background-image: url(background.jpg);
    background-size: 280% ;
    
}

.container-kontakt {
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
  }


input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #27241E;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #efece7d7;
  }
  
  input[type=submit] {
    background-color: #27241ed6;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    margin-left: 35%;

  }
  
  input[type=submit]:hover {
    background-color: #a06a5a;
  }
  
  .kontakth2 {
      margin: 50px 20px;
      font-size: 25px;
      font-weight: normal;
  }

  .kontakth3 {
      font-weight: normal; 
      margin-right: 8%;
      text-align: center;
      padding: 15px;
  }


@media (max-width: 952px){
    label.logo{
        padding-left: 30px;
    }

    nav ul li a{
        font-size: 16px;
        color: #887E6D;
    }
}

@media (min-width: 952px){
    .mobile-img {
        display: none;
    }

    .desk-img {
        display: block;
    }

    .video {
        width: 50%;
        height: 400px;
    }

    .portfolio h2 {
        margin-left: 360px;
    }

    .dage label, .content {
        margin: 20px 311px -20px 311px ;
    }

    .mars {
        width: 50%;
    }
    
    .muksi {
        width: 25%;
    }

    .container-kontakt {
        border-radius: 5px;
        padding: 20px;
        max-width: 50%;
        margin-left: 360px;
      }

    .kontakth2 {

        margin-left: 380px;

        
    }
  
 

  
}


@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #efece7;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

 
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.aktiv{
        color: #000000;
    }
    #check:checked ~ ul{
        left: 0;
    }
}


/*footer*/

.footer-container {
border-top: solid;
    border-color: #887E6D;
    background-color: #887E6D ;
    color: #efece7;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    text-align: center;
    position: auto;}

